@import url('https://fonts.googleapis.com/css2?family=Vazir:wght@300;400;500&display=swap');

body {
    font-family: 'Vazir', sans-serif;
    direction: rtl;
    margin: 0;
    padding: 0;
    background-image: url('image2-d.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width: 320px) {
    /* برای تبلت‌ها */
    body {
        background-image: url('image2-d.jpg'); /* تصویر با اندازه متوسط برای بهینه‌سازی */
    }
}

/* مدیا کوئری برای صفحه نمایش‌های با عرض بیش از 800 پیکسل */
@media (min-width: 800px) {
    body {
        background-size: cover;
    }
}

/* مدیا کوئری برای صفحه نمایش‌های با عرض کمتر از 800 پیکسل */
@media (max-width: 799px) {
    body {
        background-size: 100% 100%;
    }
}

.light-button {
    padding: 10px 20px;
    font-size: calc(10px + 1vw); /* پویا بر اساس اندازه صفحه نمایش */
    border: 4px solid #084b13;
    background-color: #000000be;
    color: #e4fcff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.light-button:hover {
    transform: translateY(-2px) scale(1.05);
}


@media (max-width: 768px) {
    .light-button, .message-box {
        padding: 5vw; /* افزایش پدینگ در صفحات کوچکتر */
        font-size: calc(12px + 2vw); /* افزایش اندازه فونت برای قابل خوانا بودن بهتر */
    }

    .message-box {
        width: 90%; /* افزایش عرض باکس پیام در صفحات کوچکتر */
    }
}

@keyframes rotateLight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.light-button {
    position: relative;
    padding: 10px 20px;
    border: 4px solid #084b13;
    background-color: #000000be; /* Black background */
    color: #e4fcff; /* Gold text */
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}

.light-button:hover {
    transform: translateY(-2px) scale(1.05);
}


.message-box {
    display: none; /* نمایش داده شود برای دیدن افکت */
    margin: 20px;
    padding: 2vw;
    background-color: rgba(0, 0, 0, 0.649); /* Light blue background for a calming effect */
    color: #ffffff; /* Dark teal text for good readability */
    border: 5px solid rgb(0, 22, 46); /* Teal border */
    border-radius: 5px;
    opacity: 1; /* تنظیم برای دیدن افکت، این را باید بر اساس کد JavaScript شما تنظیم کنید */
    transition: opacity 2s ease-in-out;
    text-align: center; /* وسط چین کردن متن تبریک */
    width: 50%; /* تنظیم عرض باکس */
    max-width: 600px;
    height: 35%; /* اگر نسبت ارتفاع به عرض مورد نیاز است */
    position: absolute; /* برای قرارگیری دقیق در مرکز */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
